extends layout

block content
  .container
    div
      h1 You are logged in.
    .row
      .span6
        <!-- Source: http://openclipart.org/detail/176289/top-secret-by-joshbressers-176289 -->
        img(src='/static/img/top-secret.png')