extends layout

block content
  .container
    .well
      div
        h1 Account Verification
        if opts['error-no-username']
          .alert.alert-error
            button(type='button', class='close', data-dismiss='alert') &times;
            | Unable to determine your username. Are cookies enabled in your browser?
        if opts['error-unverified-password']
          .alert.alert-error
            button type='button', class='close', data-dismiss='alert') &times;
            | Unable to determine if you've entered your password correctly.
        if opts['error-invalid-token']
          .alert.alert-error
            button type='button', class='close', data-dismiss='alert') &times;
            | There was an error verifying your token. Please try again.
        p Please enter you verification code from:
        ul
          if opts.user['totp_enabled_via_sms']
            li The SMS that was just sent to you
          if opts.user['totp_enabled_via_app'] 
            li Google Authenticator
      form(method='POST')
        fieldset
          label Enter your verification code here:
          input(type='text', name='token', placeholder='123456')
          br
          button.btn(type='submit') Submit
      div
        p
          if opts.user['totp_enabled_via_sms']
            a(href='/verify-tfa') Send me an SMS with my verification code again.